@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.brand-logo{
    display: flex;
    justify-content: center;
    height: 100px;
}

.search-bar{
    background: #e9ecef;
    border-right: none;
    height: 40px;
}

.input-group-text{
    height: 40px;
}

.card{
    height: 100%;
}
.card-img-top {
    background-color: #C7BEBE;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body{
    background: #E7E7E7;

}

.card-title{
    font-size: 1.2rem !important;
    text-align: left;
}

.bi-clock{
    font-size: 0.9rem;
    font-weight: bold !important;
}
.recipe-time{
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

.recipe-ingredients{
    list-style-type: none;
    text-align: left;
    padding-left: 0rem !important;
}

.ingredient-name{
    font-weight: bold;
    text-align: left;
}

.recipe-desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;

    @supports (-webkit-line-clamp: 12) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
    }
}



// Input datalist
#input_arguments{
    z-index: 999;
}

input {
    font-size: 18px;
    padding: 5px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: blue;
}

datalist {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 15px;
    max-height: 20rem;
    overflow-y: auto    
}

.browsers{
    z-index: 999;
    width: 100%;
    height: 100%;
}

option {
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
}

.inpoute{
    max-width: 100%;
    width: 800px;
}

::placeholder {
    color: white;
    font-size: 1.1em;
}

#overlay, .overlay {
    display: none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:100;
    background-color:#444444;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.widz{
    position: relative;
}

#recette_section{
    position: relative;
    top: 44px;
}

.chevron-input{
    position: absolute;
    top: 11px;
    right: 30px;
    color: white;
}

.elt-choose{
    background: #5656ff;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
}

.supp-choose{
    cursor: pointer;
    margin-bottom: 11px;

}

.choices-wrapper{
    margin: 0px;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.hovered:hover{
    pointer-events: none;
    opacity: 0;
}

.gr {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }